<!DOCTYPE html>
<html lang="ru" ng-app="RegUserApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/flex.css" type="text/css">
    <script src="angular/angular.js"></script>
    <script src="js/RegUserApp.js"></script>
    <title>Доска объявлений</title>
</head>
<body>
<header class="header">
    <div class="main-header">
        <div class="main-header-content container">
            <div class="header-logo">
                <div class="header-logo-top">
                    <a href="/index/index" class="logo-link"><b>ADS</b></a>
                </div>
                <div class="header-logo-bottom">
                    -Доска объявлений-
                </div>
            </div>
            <div class="header-add">
                <a href="/index/add" class="header-add-button"> + Объявление</a>
            </div>
            <div class="header-regauth">
                <a href="#" class="header-regauth-link">
                    <img src="images/loginIcon.png" alt="login"> ВХОД
                </a> / <a href="/user/register" class="header-regauth-link">РЕГИСТРАЦИЯ</a>
            </div>
        </div>
    </div>
    <div class="search-block">
        <h1 class="search-block-h1">Все свежие объявления на ADvertS.com!</h1>
        <div class="container">
            <div class="search-field-block">
                <div class="search-form">
                    <input type="text" name="searchRequest" id="searchRequest" placeholder="Название товара" class="search-field">
                    <input type="button" value="Найти" class="search-submit">
                </div>
            </div>
            <div class="arrow-right"></div>
        </div>
    </div>
</header>
<div class="main-content-block container">
    <aside class="aside-block">
        <div class="menu-block">
            <div class="menu">
                <div class="menu-header">
                    Меню
                </div>
                <div class="menu-item">
                    <a href="/index/index" class="menu-link">Главная страница</a>
                </div>
                <div class="menu-item">
                    <a href="#" class="menu-link">Информация о сайте</a>
                </div>
                <div class="menu-item">
                    <a href="/user/about/#" class="menu-link">Личный кабинет</a>
                </div>
            </div>
        </div>
        <div class="menu-block">
            <div class="menu">
                <div class="menu-header">
                    Категории
                </div>
                <div class="menu-item">
                    <a href="/index/category/#" class="menu-link">Test Category</a>
                </div>
            </div>
        </div>
    </aside>
    <div class="items-block">
        <div class="advert-form-block">
            <div class="advert-form-block-header">
                <h2>Регистрация</h2>
            </div>
            <div class="advert-form-block-main">
                <form action="" method="POST" class="advert-form"
                      enctype="multipart/form-data" ng-controller="CountriesRegCtrl"
                      name="registerForm">
                    <hr class="hr">
                    <div class="form-group">
                        <label for="name" class="label">Имя: </label>
                        <input type="text" class="input" ng-model="user.name" name="name" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="surname" class="label">Фамилия: </label>
                        <input type="text" class="input" ng-model="user.surname" name="surname" id="surname" required>
                    </div>
                    <div class="form-group">
                        <label for="login" class="label">Логин: </label>
                        <input type="text" class="input" ng-model="user.login" name="login" id="login" required>
                    </div>
                    <div class="form-group">
                        <label for="password" class="label">Пароль: </label>
                        <input type="password" class="input" ng-model="user.password" name="password" id="password" required>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="label">Телефон: </label>
                        <input type="text" class="input" ng-model="user.phone" name="phone" id="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="country" class="label">Страна: </label>
                        <select class="input" name="country" id="country" ng-model="selected"
                                ng-change="getRegions()"
                                ng-options="country.id as country.name for country in countries"
                                required>
                        </select>
                    </div>
                    <div class="form-group" ng-show="selected">
                        <label for="region" class="label">Регион: </label>
                        <select class="input" name="region" id="region"
                                ng-model="user.region"
                                ng-options="region.id as region.name for region in regions"
                                required>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email" class="label">E-mail: </label>
                        <input type="email" class="input" ng-model="user.email" name="email" id="email" required>
                    </div>
                    <hr class="hr">
                    <!--
                    <div class="form-group">
                        <label class="label">Фотография: </label>
                        <input type="file" class="input" name="avatar">
                    </div>
                    <hr class="hr">
                    -->
                    <input type="button" ng-click="save(user, registerForm)" value="Готово" class="advert-form-submit">
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <b>ADS</b>
        </div>
        <div class="hr"><hr class="footer-line"/></div>
        <div class="footer-bottom">
            Все права защищены // Курлеев Юрий // 2016
        </div>
    </div>
</footer>
</body>
</html>